.datePickerWithLogo {
  background-image: url("../../src/assets/calendar.svg");
  background-repeat: no-repeat;
  background-position: left center;
  /* padding-left: 30px !important; */
      /* background-position-x: 10px; */
}

/* .cursor-style:focus{
 
      outline: none;
   
} */
/* .datePickerWithLogo::placeholder {
  color: #a4a4a4; 
  font-size: 16px;
  padding-left: 30px; 
}


.input-container-aligned input {
  left: calc(18px + 20%);
}

.cursor-position{
    text-align: left;
} */