/* html {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
} */

/* ::-webkit-scrollbar {
  display: none;
} */

/* scrollable  */

.customScroll{
  overflow: auto;
}

/* this is used to scrollable width 0 */
.customScroll::-webkit-scrollbar {
  width: 0; /* Hide scrollbar for WebKit browsers */
}


