.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textfield {
  width: 100% !important;
  position: relative;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: gray;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.2s ease-in-out;
  transform-origin: left top;
  pointer-events: none;
}

input {
  height: 48px;
  width: 100% !important;
  font-size: 1rem;
  outline: none;
  border-radius: 5px !important;
  padding: 1rem 0.7rem;
  color: black;
  transition: 0.2s ease-out;
}

input:focus {
  border-color: #004eff !important;
  border-width: 1px;
}

.filled {
  top: 0;
  transform: translateY(-50%) scale(0.9);
  color: #004eff;
  background-color: white;
}

input:focus + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
  color: #004eff;
  background-color: white;
}

input:not(:focus) + label {
  color: gray;
}

input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
  background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
