.product-box {
    box-shadow: 0px 5px 10px rgb(242, 237, 237);
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }