#loading-bar-spinner.spinner {
  z-index: 19 !important;
  animation: loading-bar-spinner 500ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 30px;
  height: 30px;
  border: solid 4px transparent;
  border-top-color: #000000 !important;
  border-left-color: #000000 !important;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
