@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./styles/hideScrollbar.css");

.datepickerCss::placeholder {
  color: #1c1c1c;
  font-size: 12px;
}

@media screen and (min-width: 360px) {
  #my-tooltip-landing {
    width: 150px;
  }
}

/* iframe {
  width: 360px !important;
  height: 100px !important;
  margin: auto !important;
} */

/* .ReactModal__Content{
    width: 388px;
} */
