@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./styles/hideScrollbar.css");

.datepickerCss::placeholder {
  color: #1c1c1c;
  font-size: 12px;
}

.removePaddingPlaceHolder::placeholder {
  padding: 0;
}

.fluid-table thead tr{
  border-bottom: 1px solid #7f7f7f;
  padding: 3mm;
}

.fluid-table td, th{
  border-right: none !important;
}

tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

@media screen and (min-width: 360px) {
  #my-tooltip-landing {
    width: 150px;
  }
}

/* iframe {
  width: 360px !important;
  height: 100px !important;
  margin: auto !important;
} */

/* .ReactModal__Content{
    width: 388px;
} */
